#active-game {
    color: white;
    text-align: center;
    margin: 2rem 0 5rem 0;
}

#game-over {
    width: 90%;
    max-width: 40rem;
    margin: auto;
    padding: 1rem 2rem;
    background-color: rgb(50, 5, 87);
    color: white;
    border-radius: 4px;
}

#game-over h2 {
    font-size: 2rem;
    margin: .5rem 0;
}

#game-board {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
    justify-content: center;
    gap: .5rem;
    background-color: #eee7e7;
    padding: 1rem 0;
    width: 23rem;
}

#game-board li {
    background-color: rgb(215, 187, 247);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;

    transition: transform .3s ease;
}

#game-board li:hover {
    background-color: rgb(112, 13, 204);
    transform: scale(1.05);
}

#game-board li.disabled {
    background-color: rgb(112, 13, 204);
    cursor: default;
    color: white;
    transform: none;
}

#active-player-name {
    font-weight: bold;
    color: white;
}
